
:root {
    --color-tokens-surface-dark: #d5d1c9; 
    --color-tokens-surface-light: #ebeae6; 
    --color-tokens-surface-lighter: #f7f5f1; 
    --color-tokens-surface-lightest: #fcfbf7; 
    --color-tokens-background-darkest: #121212; 
    --color-tokens-background-lightest: #ffffff; 
    --color-tokens-content-on-dark-light: #ffffff; 
    --color-tokens-content-on-light-darker: #121212; 
    --color-tokens-content-on-light-dark: #3d3d3d; 
    --color-tokens-content-on-light-light: #707070; 
    --color-tokens-content-on-light-lighter: #1212125c; 
    --color-tokens-border-on-dark-light: #ffffff66; 
    --color-tokens-border-on-light-dark: #121212c2; 
    --color-tokens-border-on-light-light: #d6d6d6; 
    --color-tokens-border-on-light-lighter: #12121214; 
    --color-tokens-backdrop-dark: #12121233; 
    --color-tokens-backdrop-darker: #12121233; 
    --color-tokens-backdrop-darkest: #ee3939; 
    --color-base-colors-white-solid-default: #ffffff; 
    --color-base-colors-white-alpha-600: #ffffff99; 
    --color-base-colors-white-alpha-400: #ffffff66; 
    --color-base-colors-white-alpha-100: #ffffff1a; 
    --color-base-colors-black-alpha-930: #121212ed; 
    --color-base-colors-black-alpha-760: #121212c2; 
    --color-base-colors-black-alpha-560: #1212128f; 
    --color-base-colors-black-alpha-360: #1212125c; 
    --color-base-colors-black-alpha-300: #1212124d; 
    --color-base-colors-black-alpha-200: #12121233; 
    --color-base-colors-black-alpha-100: #1212121a; 
    --color-base-colors-black-alpha-80: #12121214; 
    --color-base-colors-black-solid-default: #121212; 
    --color-base-colors-black-solid-800: #3d3d3d; 
    --color-base-colors-black-solid-600: #707070; 
    --color-base-colors-black-solid-200: #d6d6d6; 
    --color-base-colors-beige-200: #d5d1c9; 
    --color-base-colors-beige-90: #ebeae6; 
    --color-base-colors-beige-40: #f7f5f1; 
    --color-base-colors-beige-20: #fcfbf7; 
    --color-base-colors-red-solid-500: #d92d20; 
    --color-base-colors-red-solid-400: #f04438; 
    --color-base-colors-red-solid-300: #f97066; 
    --color-base-colors-red-solid-200: #fda29b; 
    --color-base-colors-yellow-alpha-default: #ffdd2a; 
    --color-base-colors-yellow-alpha-500: #ffdd2a80; 
    --color-base-colors-yellow-alpha-150: #ffdd2a26; 
    --color-base-colors-yellow-solid-400: #fec84b; 
    --color-base-colors-yellow-solid-200: #fedf89; 
    --color-base-colors-blue-alpha-default: #4a9ce7; 
    --color-base-colors-blue-alpha-500: #4a9ce780; 
    --color-base-colors-blue-alpha-150: #4a9ce726; 
    --color-base-colors-blue-solid-30: #f2f9ff; 
    --color-base-colors-green-alpha-default: #73d598; 
    --color-base-colors-green-alpha-500: #73d59880; 
    --color-base-colors-green-alpha-150: #73d59826; 
    --color-base-colors-green-solid-700: #039855; 
    --color-base-colors-green-solid-600: #12b76a; 
    --color-base-colors-green-solid-500: #32d583; 
    --color-base-colors-green-solid-300: #6ce9a6; 
    --color-base-colors-purple-alpha-default: #f489d7; 
    --color-base-colors-purple-alpha-500: #f489d780; 
    --color-base-colors-purple-alpha-150: #f489d726; 
    --color-base-colors-purple-solid-30: #f9f2ff; 
    --color-base-colors-orange-alpha-default: #ff922a; 
    --color-base-colors-orange-alpha-500: #ff922a80; 
    --color-base-colors-orange-alpha-150: #ff922a26; 
    --color-base-colors-orange-solid-500: #f79009; 
    --color-base-colors-orange-solid-400: #fdb022; 
    --color-base-colors-orange-solid-200: #ffd699; 
}